<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="desc" placeholder="Enter file description" />
    <input type="file" name="meme" accept="image/png, image/jpeg, image/jpg" />

    <button type="submit">Upload</button>
  </form>
</body>

</html>